.container {
    display: flex;
    justify-content: space-between;
}

.card {
    min-width: 200px;

	border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);

    cursor: pointer;
}

.name__card {
    text-transform: capitalize;
}


@media (max-width: 500px) {
    .container {
        flex-direction: column;
    }
    
    .card {
        margin-bottom: 10px;

    }
}