.container {
    width: 100%;
}

.table {
    height: 300px;
    overflow-x: hidden;

}

table {
    width: 100%;
}

tr {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

tr:nth-child(odd) {
    background: #eee;
}

